@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011627;
  --foreground: #f4bf98;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
